.input {
  box-sizing: border-box;
  &:not([type=color], [type=checkbox], [type=button], [type=file], [type=image],[type=radio],[type=range]) {
    outline: none;
    border-radius: 5px;
    transition: all 0.2s;
    border: 1px solid #d9d9d9;
    padding: 4px 11px;

    &:hover, &:focus {
      border-color: #1677ff;
      box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    }
    
    &.medium:not([type="checkbox"]) {
      height: 32px;
    }
    
    &.large:not([type="checkbox"]) {
      height: 40px;
      font-size: 16px;
    }
  }
}