.button {
  padding: 10px 15px;
  background-color: #f4f0a4;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.small {
  padding: 2px;
  .loader{
    height: 20px;
    margin: -6px 0;
  }
}
.large {
  font-size: 20px;
}

.circle {
  border-radius: 30px;
}

.button:disabled {
  cursor: not-allowed;
}

.primary-button {
  composes: button;
  background-color: #68ba6a;
  font-weight: bold;
}

.loader {
  height: 32px;
  margin: -11px 0;  // to align loader center and keep button height
}


