@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

$large-font: 30px;
$small-font: 10px;
$dragon-font: 'MedievalSharp', cursive;
$section-background: rgba(240, 248, 255, 0.7);

:global(.dragons-form-wrapper h1) {
  font-family: $dragon-font;
}

.form {
  font-size: $small-font;
  text-shadow: 1px 1px 1px white;
  input, select {
    width: 100%;
  }
}

.section {
  background-color: $section-background;
  border-radius: 5px;
  padding: 10px;
}

.top_section {
  composes: section;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

// .primary_field {
//   flex-basis: 40%;
//   flex-shrink: 0;
// }

.top_section_fields {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: end;
  label {
    flex-basis: 31%;
  }
}

.select_group {
  display: flex;
  gap: 10px;
  input {
    flex-shrink: 2.2;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.first_column {
  composes: column;
  flex-basis: 100px;
  flex-shrink: 0;
}

.frame{
  composes: section;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  text-transform: uppercase;
  input {
    text-align: center;
  }
  input:first-child {
    font-size: $large-font;
    margin-bottom: 10px;
    height: 50px !important;
  }
}

.large_number_field {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  input {
    text-align: center;
    font-size: $large-font;
    width: 70px; 
  }
  span {
    flex-grow: 1;
    text-align: center;
  }
}

.second_column {
  composes: column;
  width: 230px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.second_col_top_section {
  composes: section;
  composes: second_column;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.bordered_section {
  composes: column;
  composes: section;
  align-items: center;
  margin-bottom: 10px;
}

.small_fields_group {
  composes: bordered_section;
  label {
    width: 100%;
  }
  .small_field input {
    width: 40px;
    margin-right: 10px;
  }
}

.small_field {
  text-transform: capitalize;
  input {
    text-align: center;
  }
}

.boxes {
  display: flex;
  gap: 10px;
  .bordered_section {
    justify-content: space-between;
  }
}

.bottom_border_field {
  padding: 0;
  height: unset !important;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  box-shadow: none !important;
  border-radius: 5px;
  margin-bottom: 5px;
}

.secondary_field {
  white-space: nowrap;
  display: flex;
  input {
    margin-left: 10px;
  }
}

.third_column {
  composes: column;
  text-align: center;
  input {
    text-align: center;
  }
}

.frames {
  display: flex;
  gap: 10px;
  text-align: center;
}

.checkbox_group {
  display: flex;
  align-self: end;
  align-items: center;
}

.fourth_column {
  composes: column;
  composes: section;
  text-align: center;
  gap: 10px;
}