.App {
  padding: 15px;
  max-width: 800px;
  margin: auto;
}

h1, h2, h3 {
  text-align: center;
}

.mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
}

.display-flex {
  display: flex;
}

.align-center {
  text-align: center;
}

.dragons-form-wrapper {
  background-image: url("./assets/images/2022-02_Playing-Dungeons-and-Dragons-Online_DNDExchange-Blog-Feature.jpg");
  background-size: cover;
}

.dragons-form-wrapper .App {
  max-width: 860px;
  .button {
    background-color: #99c9c9cf;
  }
}